@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --light-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  line-height: 1.4;
  scroll-behavior: smooth;
}
body {
  font-size: 1.4rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style: none;
  font-size: 1.8rem;
  border-bottom: 0.3rem transparent solid;
  transition: 0.3s ease-in-out;
}

ul li:hover {
  border-bottom: 0.3rem var(--secondary-color) solid;
  transition: 0.3s ease-in-out;
}

header {
  background-color: var(--light-color);
  padding: 5px 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  gap: 2rem;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}

#hero {
  background: var(--dark-color);
  padding: 4rem 0;
  border-bottom: 4px solid var(--light-color);
}

#hero .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-content {
  display: grid;
  place-items: center;
}

#hero h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hi-text {
  font-size: 8rem;
  color: var(--secondary-color);
}

.name-text {
  font-size: 6rem;
}

#hero h2 {
  font-size: 4rem;

  overflow: hidden; /* Ensures the content is not revealed until the animation*/

  border-right: 0.5rem solid orange;

  white-space: nowrap; /* keeps the content on the single line*/

  margin: 0 auto; /* Gives that scrolling effect as the typing happens*/

  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 85%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

/* Project Section */

#project {
  background: var(--darker-color);
}

#project h2 {
  font-size: 6rem;
  text-align: center;
  padding: 2rem 0;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  padding-bottom: 2rem;
}

.grid-item {
  display: grid;
  place-items: center;
}

.card {
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

.card:hover img {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  opacity: 0.8;
}

.card:hover .card-content {
  background: white;
  color: var(--dark-color);
  transform: translateY(0px);
}
.card-content {
  padding: 2rem;
  position: relative;
  top: -5.5rem;
  margin-bottom: -6.5rem;
  transition: 0.5s ease-in-out;
  transform: translateY(100px);
}

.card-content h3 {
  text-align: center;
}

#contact {
  background: var(--dark-color);
}

#contact h2 {
  font-size: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

#contact .container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}

.top-contact {
  display: grid;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.contact-way {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.contact-way i,
.contact-way h3 {
  font-size: 3rem;
}

.bottom-contact {
  max-width: 400px;
  display: grid;
  margin: 0 auto;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

/* Footer */

footer {
  background: var(--darker-color);
  padding: 2rem;
  color: white;
  font-size: 1.6rem;
  text-align: center;
}

@media (max-width: 786px) {
  html {
    font-size: 40%;
  }
  #hero .container {
    flex-direction: column;
  }

  .hero-img {
    display: grid;
    place-items: center;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 32%;
  }

  #hero .container {
    flex-direction: column;
  }

  .hero-img {
    display: grid;
    place-items: center;
  }

  #contact .container {
    height: 50vh;
  }
  #contact h2 {
    align-items: center;
    font-size: 5.5rem;
  }
}
